<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">

          <div class="footer-col footer-col-1">
            <div class="social-links">
              <ul class="social-media-list">
                <li><a href="https://github.com/timewave-computer">GitHub</a></li>
                <li><a href="https://www.twitter.com/timewavelabs">Twitter</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-col footer-col-2">
          </div>

          <div class="footer-col footer-col-3">
            <div class="social-links">
              <ul class="social-media-list">
                <li>logo by <a target="_blank" href="https://twitter.com/badkidsart/status/1743025056005988445">@badkidsart</a></li>
                <li><p>© 2025 Timewave</p></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
</footer>