<footer class="site-footer h-card" style="border:0px">
    <div class="wrapper">
        <h2 class="footer-heading">Timewave</h2>
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <div class="social-links">
                {%- include social.html -%}
              </div>
           
              <div>
                © 2024 Timewave
              </div>
          </div>
          <div class="footer-col footer-col-2">
            <p></p>
          </div>
          <div class="footer-col footer-col-3">
            <p>   
              Thank you <a target="_blank" href="https://twitter.com/badkidsart/status/1743025056005988445">@badkidsart </a>for gifted logo
            </p>
          </div>
        </div>
      </div>
</footer>