<link rel="stylesheet" href="/assets/css/styles.css">

<div role="banner" class="site-header">
  <div class="wrapper">
    <div class="wrapper-inner">

      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <div class="logo-wrapper">
        <a class="logo-link" href="/">
          <img class="logo-image" src="/assets/logo.png" alt="Bad Timewave logo"/>
        </a> 
        <a class="title-nav nav"  href="/">Timewave</a>
      </div>
      <a class="blog-nav nav" href="/blog">Blog</a>

    </div>
  </div>
</div>