<div role="banner" class="site-header" style="border:0px; margin:24px;">
  <div class="wrapper">
    <div style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      ">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <a class="site-title" rel="author" style="text-decoration: none; display:flex; gap:6%" href="/">
        {%- include logo.html -%}
      </a>   
        <a href="/blog" style="font-size: 1.2rem; color:black">
          Blog
        </a>
    </div>
  </div>
</div>